@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

label.step-value {
    outline: 0;
    border: 1px solid #c5c6cd;
    padding: 8px 16px;
    border-radius: 2px;
    text-align: left;
    min-height: auto;
    font-size: 16px;
    background-color: #f8f8f8;
    position: relative;
    cursor: pointer;
    margin-bottom: 8px;
    font-weight: 400;
    display: block;
}
label.step-value.active {
    background-color: rgba(110,176,0,.06);
    border: 1px solid #5a9000;
    color: #5a9000;
    -webkit-animation: play-checkbox-on .2s forwards;
    animation: play-checkbox-on .2s forwards;
    font-size: 17px;
    font-weight: 700;
}
label.step-value.active span {
    color: #5a9000;
    font-size: 17px;
    font-weight: 700;
}